<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Romeo's Galore
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <ion-img src="assets/images/t1.png"></ion-img>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-img src="assets/images/t2.png"></ion-img>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-img src="assets/images/t3.png"></ion-img>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>
          <ion-img src="assets/images/t4.png"></ion-img>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-img src="assets/images/t5.png"></ion-img>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-img src="assets/images/t6.png"></ion-img>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <img src="assets/images/screenshot-1.png"/>
    <ion-card-content>
      <ion-card-title>
        Make Eggs, Throw Eggs
        </ion-card-title>
      <p>
        This level is an easy course that teaches the player some
        things about the game. The level features Shy-Guys, Fly Guys 
        and the Chom Rock.
      </p>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <ion-button color="tertiary">
          <ion-icon name="bulb"></ion-icon>
          Make Eggs
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="danger">
          <ion-icon name="bulb"></ion-icon>
          Throw Eggs
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>
