.card-background-page {

    .ionicavatar {
        width: 200px;
        height: 200px;
        padding: 10px;
        margin: auto;
    }

    .card-title {
        padding: 0px 10px 10px 10px;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
        text-align: center;
    }
  
  }